.prueba{
    clip-path: polygon(100% 0, 100% 90%, 0 97%, 0 10%);
}

.clip4{
    clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 15%);
}

.prueba3{
    clip-path: polygon(100% 77%, 24% 100%, 0 20%, 75% 0);
}

.prueba4{
    clip-path: polygon(24% 100%, 0 57%, 48% 0, 100% 53%);
}

.clip0 {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
.clip3{clip-path: polygon(100% 15%, 100% 90%, 0 100%, 0 0);}

.clip4{
    clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 15%);
}
.clip5{
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
}
.clip6{clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 0);}

.clip7{clip-path: polygon(100% 100%, 50% 90%, 0 100%, 0 0, 50% 10%, 100% 0);}