@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin:0;
    padding:0;
}

.background { animation: fadeIn 3s;
/*     background-image: url(../public/imgs/NM_1.JPG);
    background-repeat: no-repeat;
    background-position: left top; */
    /* background-size: 100rem auto ; */
     }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

/* section{
    background-image: url("../public/imgs/Background.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;  
}  */